.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  /* border-bottom: 1px solid var(--border); */
  background-color: #fff;
}

.navbar span {
  font-size: 20px;
  font-weight: bolder;
  color: #111;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  font-size: 18px;
  color: var(--primary-color);
}

.nav-links a.home {
  font-size: 18px;
  color: var(--primary-light);
}

.nav-links a.home:hover {
  text-decoration: underline;
}

.nav-links a:not(.home):hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-button button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-dark);
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}