@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: #8b5cf6;
  --primary-light: #a78bfa;
  --primary-dark: #7c3aed;
  --text-color: #1f2937;
  --background-color: #f5f0ff;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background-color);
  color: var(--text);
  margin: 0;
  padding: 0;
}